<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV template</title>
</head>
<body>
<div class="container">
    <div class="row">
            <div class="col-md-1">
                    <h4>Name</h4>
                    <h3>{{user_profile.name}}</h3>
                    <h4>Email</h4>
                    <h3>{{user_profile.email}}</h3>
                    <h4>Phone</h4>
                    <h3>{{user_profile.phone}}</h3>
                    <hr/>
                    <br/>
                    <h3>Summary</h3>
                    <p>{{user_profile.summary}}</p>
                     <h3>Education</h3>
                    <li>
                        <ul>
                            <h4>School</h4>
                            <h5>  {{  user_profile.school}}</h5>
                            <h4>University</h4>
                            <h5>  {{user_profile.university}}</h5>
                            <h4>Degree</h4>
                            <h5>  {{user_profile.degree}}</h5>
                        </ul>
                    </li>
                    <h3>Previous work</h3>
                    <p>{{user_profile.previous_work}}</p>
                    <h3>Skills</h3>
                    <p>{{user_profile.skills}}</p>
                </div>
        </div>
    </div>
</body>
</html>